[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-environ = "==0.10.0"
black = "*"
flake8 = "*"
pillow = "==9.5.0"

[dev-packages]

[requires]
python_version = "3.8"
