<!-- Cookies Modal -->
<div class="modal fade" id="cookieModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Wir lieben Cookies</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-cookie-bite fa-4x text-primary"></i>
                    </div>

                    <div class="col-9">
                        <p>
                            Informiere dich in unserem Datenschutz über Cookies und die Verwendung privater Daten auf
                            unserer Website.
                            Akzeptiere alle Cookies, und sichere dir das beste Surferlebnis. Fährst du einfach fort,
                            stimmst du der Verwendung der technisch notwendigen Cookies zu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-close-cookie-notification">ZUSTIMMEN</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">ABLEHNEN</button>
            </div>
        </div>
    </div>
</div>