<section class="copyright home-pad">
    <div class="container text-md-left">
        <div class="row align-items-start">
            <div class="col-sm-12 col-md-4">
                <a href="{% url 'home' %}" target="_blank">Kosmetikstudio Garmonia</a> © 2023. Alle Rechte vorbehalten.
            </div>
            <div class="col" id="imprint">
                <h4>Impressum</h4>
                <h5>Angaben gem&auml;&szlig; &sect; 5 TMG</h5>
                <p>Olga Eisner<br/>
                    Kosmetikstudio Garmonia<br/>
                    Bahnhofsplatz 2a<br/>
                    2 OG<br/>
                    26122 Oldenburg</p>
            </div>
            <div class="col">
                <h5>Kontakt</h5>
                <p>Telefon: +49 (0) 1797716648<br/>
                    E-Mail: garmonia.eisner@gmail.com</p>
            </div>
            <div class="col">
                <h5>Umsatzsteuer-ID</h5>
                <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br/>
                    DE320418012</p>
            </div>
        </div>
    </div>
</section>