{% load static %}
<footer class="section bg-default section-xs-type-1 footer-minimal">
  <div class="container">
    <div class="row row-30 align-items-lg-center justify-content-lg-between">
      <div class="col-lg-2">
        <div class="footer-brand">
          <a href="index.html"
            ><img
              src="{% static 'images/logo-dark-main-257x84.png' %}"
              alt=""
              width="257"
              height="84"
          /></a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="footer-nav">
          <ul class="rd-navbar-nav">
            <li class="rd-nav-item active">
              <a class="rd-nav-link" href="index.html">Home</a>
            </li>
            <li class="rd-nav-item">
              <a class="rd-nav-link" href="about-us.html">About</a>
            </li>
            <li class="rd-nav-item">
              <a class="rd-nav-link" href="typography.html">Typography</a>
            </li>
            <li class="rd-nav-item">
              <a class="rd-nav-link" href="contacts.html">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
