{% load static %}
<section id="gallery" class="home-pad">
    <div class="main-heading">
        Our Gallery
        <span><i class="fa fa-leaf"></i></span>
    </div>

    <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".kosmetik" class="cbp-filter-item">
            Kosmetische Behandlungen
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".web-design" class="cbp-filter-item">
            Nageldesign
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".graphic" class="cbp-filter-item">
            Permanent Make Up
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".motion" class="cbp-filter-item">
            Fußpflege
            <div class="cbp-filter-counter"></div>
        </div>
    </div>

    <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat wow fadeIn" data-wow-duration="0"
         data-wow-delay="0">
        <div class="cbp-item web-design graphic">
            <a href="{% static 'images/gallery/img-1.png' %}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-1.png' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kosmetik motion">
            <a href="{% static 'images/gallery/img-2.png' %}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-2.png' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kosmetik motion">
            <a href="{% static 'images/gallery/img-3.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-3.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion graphic">
            <a href="{% static 'images/gallery/img-4.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-4.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design kosmetik">
            <a href="{% static 'images/gallery/img-5.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-5.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kosmetik motion">
            <a href="{% static 'images/gallery/img-6.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-6.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design kosmetik">
            <a href="{% static 'images/gallery/img-7.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-7.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kosmetik graphic">
            <a href="{% static 'images/gallery/img-8.png'%}" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'images/gallery/img-8.png'%}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Gallery Title</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div id="js-loadMore-mosaic-flat" class="cbp-l-loadMore-bgbutton">
        <a href="gallery/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
            <span class="cbp-l-loadMore-noMoreLoading">No More Images</span>
        </a>
    </div>
</section>