<div class="offers-wrap">
    <div class="container">
        <div class="main-heading">
            Preisliste
            <span><i class="fa fa-leaf"></i></span>
        </div>
        <div class="row d-flex align-items-center justify-content-center flex-column">
            <div class="col-8 wow fadeInUp" data-wow-duration="0" data-wow-delay="0">
                <ul class="list-group list-group-flush">
                    {% for item in items %}
                        <li class="list-group-item">
                            <h3>{{ item.category }}</h3>
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.description }}</p>
                            <h5>{{ item.price }} €</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>