{% load static %}
<section id="welcome-wrap">
    <div class="container">
        <div class="row align-items-lg-center align-items-md-start">
            <div class="col-md-12 col-lg-5 col-sm-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0">
                <img src="{% static 'images/welcom-spa.png' %}" alt="Well And Spa | Responsive HTML Template">
            </div>
            <div class="col-md-12 col-lg-7 col-sm-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0">
                <div class="welcome-text">
                    <h1>Ihr Kosmetikstudio <span style="text-transform: uppercase;"># 1</span> in Oldenburg
                    </h1>
                    <p>Das klingt nach einem umfassenden Angebot an Schönheitsbehandlungen!</p>
                    Gesichtsbehandlung kann dabei helfen, die Haut zu reinigen, zu pflegen und zu regenerieren.
                    Nageldesign bietet eine Vielzahl von Möglichkeiten, um Ihre Nägel zu verschönern und zu
                    gestalten.
                    Mit Permanent Make-up können Sie Ihre Augenbrauen, Lippen oder Lidstriche langanhaltend
                    betonen. Und eine professionelle Fußpflege sorgt dafür, dass Ihre Füße gepflegt und
                    gesund bleiben. </p>
                    <p>Gönnen Sie sich eine Auszeit und lassen Sie sich von den Experten im
                        Kosmetikstudio verwöhnen!</p>
                </div>
            </div>
        </div>
    </div>
</section>