{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--  Loader Start  -->
    <div id="pageloader">
        <div class="loader-item radius-anim">
        </div>
    </div>
    <!--  End  -->

    <!-- Main Header Start -->
    {% include "snippets/header.html" %}
    <!-- Main Header End -->

    <!-- Main Bodycontent Start -->
    <div id="body-content">
        <!-- Welcome Start -->
        {% include "snippets/welcome.html" %}
        <!-- Welcome End -->

        <section id="services" class="home-pad">
            <div class="container">
                <div class="main-heading">
                    Unsere Leistungen<span><i class="fa fa-leaf"></i></span>
                </div>
                <!-- Services Start -->
                <div class="owl-carousel wow bounceInUp" data-wow-duration="0" data-wow-delay="0" id="home-servies">
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-1.png' %}" alt="" class="rounded-circle">
                            <h3>Kosmetische Behandlungen</h3>
                            <p>Gesichtsbehandlungen gehören zu den gefragtesten Verfahren, da sie helfen können, Falten
                                zu reduzieren und den Hautton zu verbessern. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-2.png' %}" alt="" class="rounded-circle">
                            <h3>Permanent Make Up</h3>
                            <p>Permanent Make-up ist ein revolutionäres kosmetisches Verfahren, das Ihre
                                natürliche Schönheit mit dauerhaften Ergebnissen verbessern kann. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-3.png' %}" alt="" class="rounded-circle">
                            <h3>Körperenthaarung</h3>
                            <p>Die Körperenthaarung kann schnell und effizient mit
                                minimalen Beschwerden durchgeführt werden. Dabei stehen verschiedene Methoden zur
                                Verfügung</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-4.png' %}" alt="" class="rounded-circle">
                            <h3>Fußpflege</h3>
                            <p>Pediküre ist eine großartige Möglichkeit, Ihre Füße zu verwöhnen,
                                dass sie gesund aussehen und sich so anfühlen. Mit regelmäßiger Pediküre halten Sie
                                Ihre Füße in Topform!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-5.png' %}" alt="" class="rounded-circle">
                            <h3>Nageldesign</h3>
                            <p>Sie wünschen längere Nägeln, ist die Modellage die beste Lösung.
                                Die vorhandene Länge ist dabei unentscheidend.
                                Eine Verlängerung ist bei jedem möglich. </p>
                        </div>
                    </div>
                </div>
                <!-- Services End -->
            </div>

            <!-- Monthly Offer Start -->
            {% include "snippets/monthly-offer.html" %}
            <!-- Monthly Offer End -->
        </section>

        <!-- Gallery Start -->
        {% include "snippets/gallery.html" %}
        <!-- Gallery End -->

        <!-- Hot Package Start -->
        <section id="packages" class="home-pad">
            <div class="main-heading">
                Beliebte Behandlungen
                <span><i class="fa fa-leaf"></i></span>
            </div>
            <div class="container">
                <div class="owl-carousel wow fadeInUp" data-wow-duration="0" data-wow-delay="0" id="home-package">
                    {% for sell in selling %}
                        <div class="item">
                            <div class="package-wrap">
                                <div class="package-price rounded-circle">
                                    {{ sell.price }}<span><i class="fas fa-euro-sign"></i></span>
                                </div>
                                <h4>{{ sell.category }}</h4>
                                <p>{{ sell.name }}</p>
                                <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false"
                                   href="#appointment"
                                   class="btn btn-light">Termin vereinbaren</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Hot Package Start -->

        <!-- Our Team Start -->
        <section id="team" class="home-pad">
            <div class="main-heading">
                Unsere Marken
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0" data-wow-delay="0s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_1.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.3" data-wow-delay="0.2s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_2.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.6" data-wow-delay="0.4s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_3.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.9" data-wow-delay="0.6s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_4.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Team End -->

        <!-- Our Client Start -->
        <section id="clients" class="home-pad">
            <div class="main-heading">
                Was sagen unsere Kunden
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-sm-12 wow fadeInDown" data-wow-duration="0"
                         data-wow-delay="0.1s">
                        <div class="owl-carousel" id="home-testimonial">
                            {% for testimonial in testimonials %}
                                <div class="item">
                                    <div class="testimonial-wrap">
                                        <p>{{ testimonial.text }}</p>
                                        <h3>- {{ testimonial.full_name }}</h3>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "snippets/pricelist.html" %}
        </section>

        <!-- Contact Start -->
        {% include "snippets/contact.html" %}
        <!-- Contact End -->
        {% include "snippets/cookie.html" %}
        {% include "snippets/privacy.html" %}
    </div>
    <!-- Main Bodycontent End -->
    {% include "snippets/copyright.html" %}
    <!--  Back To Top  -->
    <div id="back-top">
        <a class="rounded-circle" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!--  End  -->
{% endblock content %}