{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--  Loader Start  -->
    <div id="pageloader">
        <div class="loader-item radius-anim">
        </div>
    </div>
    <!--  End  -->

    <!-- Main Header Start -->
    {% include "snippets/header.html" %}
    <!-- Main Header End -->

    <!-- Main Bodycontent Start -->
    <div id="body-content">
        <!-- Welcome Start -->
        {% include "snippets/welcome.html" %}
        <!-- Welcome End -->

        <section id="services" class="home-pad">
            <div class="container">
                <div class="main-heading">
                    Unsere Leistungen<span><i class="fa fa-leaf"></i></span>
                </div>
                <!-- Services Start -->
                <div class="owl-carousel wow bounceInUp" data-wow-duration="0" data-wow-delay="0" id="home-servies">
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-1.png' %}" alt="" class="rounded-circle">
                            <h3>Kosmetische Behandlungen</h3>
                            <p>Gesichtsbehandlungen gehören zu den gefragtesten Verfahren, da sie helfen können, Falten
                                zu reduzieren und den Hautton zu verbessern. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-2.png' %}" alt="" class="rounded-circle">
                            <h3>Permanent Make Up</h3>
                            <p>Permanent Make-up ist ein revolutionäres kosmetisches Verfahren, das Ihre
                                natürliche Schönheit mit dauerhaften Ergebnissen verbessern kann. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-3.png' %}" alt="" class="rounded-circle">
                            <h3>Körperenthaarung</h3>
                            <p>Die Körperenthaarung kann schnell und effizient mit
                                minimalen Beschwerden durchgeführt werden. Dabei stehen verschiedene Methoden zur
                                Verfügung</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-4.png' %}" alt="" class="rounded-circle">
                            <h3>Fußpflege</h3>
                            <p>Pediküre ist eine großartige Möglichkeit, Ihre Füße zu verwöhnen,
                                dass sie gesund aussehen und sich so anfühlen. Mit regelmäßiger Pediküre halten Sie
                                Ihre Füße in Topform!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-5.png' %}" alt="" class="rounded-circle">
                            <h3>Nageldesign</h3>
                            <p>Sie wünschen längere Nägeln, ist die Modellage die beste Lösung.
                                Die vorhandene Länge ist dabei unentscheidend.
                                Eine Verlängerung ist bei jedem möglich. </p>
                        </div>
                    </div>
                </div>
                <!-- Services End -->
            </div>

            <!-- Monthly Offer Start -->
            {% include "snippets/monthly-offer.html" %}
            <!-- Monthly Offer End -->

            <!-- Features Start -->
            {#            <div class="features-wrap">#}
            {#                <div class="main-heading">#}
            {#                    Few Awesome Benefits#}
            {#                    <span><i class="fa fa-leaf"></i></span>#}
            {#                </div>#}
            {##}
            {#                <div class="container">#}
            {#                    <div class="row">#}
            {#                        <div class="col-lg-7 col-sm-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">#}
            {#                            <h3>Find Your Soul Here</h3>#}
            {#                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo#}
            {#                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd#}
            {#                                gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea#}
            {#                                rebum.</p><br>#}
            {#                        </div>#}
            {#                        <div class="col-lg-7 col-sm-6 wow fadeInRight" data-wow-duration="0" data-wow-delay="0.2s">#}
            {#                            <h3>Other Amenities</h3>#}
            {#                            <ul class="fa-ul amenities">#}
            {#                                <li><span class="fa-li"><i class="fas fa-utensils"></i></span>Lorem ipsum dolor sit amet#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-heartbeat"></i></span>Suspendisse tristique#}
            {#                                    velit vel ligula#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-beer"></i></span>Curabitur tincidunt iaculis#}
            {#                                    est posuere#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-car"></i></span>Vestibulum vitae nibh elit#}
            {#                                    phasellus sed#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#            </div>#}
            <!-- Features End -->
        </section>

        <!-- Gallery Start -->
        {% include "snippets/gallery.html" %}
        <!-- Gallery End -->

        <!-- Hot Package Start -->
        <section id="packages" class="home-pad">
            <div class="main-heading">
                Beliebte Behandlungen
                <span><i class="fa fa-leaf"></i></span>
            </div>
            <div class="container">
                <div class="owl-carousel wow fadeInUp" data-wow-duration="0" data-wow-delay="0" id="home-package">
                    {% for sell in selling %}
                        <div class="item">
                            <div class="package-wrap">
                                <div class="package-price rounded-circle">
                                    {{ sell.price }}<span><i class="fas fa-euro-sign"></i></span>
                                </div>
                                <h4>{{ sell.category }}</h4>
                                <p>{{ sell.name }}</p>
                                <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false"
                                   href="#appointment"
                                   class="btn btn-light">Termin vereinbaren</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Hot Package Start -->

        <!-- Our Team Start -->
        <section id="team" class="home-pad">
            <div class="main-heading">
                Unsere Marken
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0" data-wow-delay="0s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_1.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.3" data-wow-delay="0.2s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_2.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.6" data-wow-delay="0.4s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_3.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.9" data-wow-delay="0.6s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="{% static 'images/marken/marke_4.png' %}" alt=""/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Team End -->

        <!-- Our Client Start -->
        <section id="clients" class="home-pad">
            <div class="main-heading">
                Was sagen unsere Kunden
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-sm-12 wow fadeInDown" data-wow-duration="0"
                         data-wow-delay="0.1s">
                        <div class="owl-carousel" id="home-testimonial">
                            {% for testimonial in testimonials %}
                                <div class="item">
                                    <div class="testimonial-wrap">
                                        <p>{{ testimonial.text }}</p>
                                        <h3>- {{ testimonial.full_name }}</h3>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "snippets/pricelist.html" %}
        </section>
        <!-- Our Client End -->

        <!-- Recent Blog Start -->
{#        <section id="blog" class="home-pad">#}
{#            <div class="main-heading">#}
{#                Recent Blog#}
{#                <span><i class="fa fa-leaf"></i></span>#}
{#            </div>#}
{##}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-6 col-lg-3 col-sm-6">#}
{#                        <div class="blog-wrap">#}
{#                            <div class="blog-wrap-img rounded-circle">#}
{#                                <img src="images/blog/blog-1.jpg" class="" alt="">#}
{#                            </div>#}
{#                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i#}
{#                                    class="fas fa-tag"></i> Design</a> <span>/</span>#}
{#                                <a href="#"><i class="far fa-comment"></i> 2</a></div>#}
{#                            <h4><a href="blog-single.html">Our Spa</a></h4>#}
{#                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>#}
{#                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3 col-sm-6">#}
{#                        <div class="blog-wrap">#}
{#                            <div class="blog-wrap-img rounded-circle">#}
{#                                <img src="images/blog/blog-2.jpg" class="" alt="">#}
{#                            </div>#}
{#                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i#}
{#                                    class="fas fa-tag"></i> Design</a> <span>/</span>#}
{#                                <a href="#"><i class="far fa-comment"></i> 2</a></div>#}
{#                            <h4><a href="blog-single.html">At Beach After Spa</a></h4>#}
{#                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>#}
{#                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3 col-sm-6">#}
{#                        <div class="blog-wrap">#}
{#                            <div class="blog-wrap-img rounded-circle">#}
{#                                <img src="images/blog/blog-3.jpg" class="" alt="">#}
{#                            </div>#}
{#                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i#}
{#                                    class="fas fa-tag"></i> Design</a> <span>/</span>#}
{#                                <a href="#"><i class="far fa-comment"></i> 2</a></div>#}
{#                            <h4><a href="blog-single.html">Additional Services</a></h4>#}
{#                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>#}
{#                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3 col-sm-6">#}
{#                        <div class="blog-wrap">#}
{#                            <div class="blog-wrap-img rounded-circle">#}
{#                                <img src="images/blog/blog-4.jpg" class="" alt="">#}
{#                            </div>#}
{#                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i#}
{#                                    class="fas fa-tag"></i> Design</a> <span>/</span>#}
{#                                <a href="#"><i class="far fa-comment"></i> 2</a></div>#}
{#                            <h4><a href="blog-single.html">Certified Products</a></h4>#}
{#                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>#}
{#                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </section>#}
        <!-- Recent Blog End -->

        <!-- Contact Start -->
        {% include "snippets/contact.html" %}
        <!-- Contact End -->

    </div>
    <!-- Main Bodycontent End -->
    {% include "snippets/copyright.html" %}
    <!--  Back To Top  -->
    <div id="back-top">
        <a class="rounded-circle" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!--  End  -->
{% endblock content %}