{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--  Loader Start  -->
    <div id="pageloader">
        <div class="loader-item radius-anim">
        </div>
    </div>
    <!--  End  -->

    <!-- Main Header Start -->
    {% include "snippets/header.html" %}
    <!-- Main Header End -->

    <!-- Main Bodycontent Start -->
    <div id="body-content">
        <!-- Welcome Start -->
        {% include "snippets/welcome.html" %}
        <!-- Welcome End -->

        <section id="services" class="home-pad">
            <div class="container">
                <div class="main-heading">
                    Unsere Leistungen<span><i class="fa fa-leaf"></i></span>
                </div>
                <!-- Services Start -->
                <div class="owl-carousel wow bounceInUp" data-wow-duration="0" data-wow-delay="0" id="home-servies">
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-1.png' %}" alt="" class="rounded-circle">
                            <h3>Kosmetische Behandlungen</h3>
                            <p>Gesichtsbehandlungen gehören zu den gefragtesten Verfahren, da sie helfen können, Falten
                                zu reduzieren und den Hautton zu verbessern. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-2.png' %}" alt="" class="rounded-circle">
                            <h3>Permanent Make Up</h3>
                            <p>Permanent Make-up ist ein revolutionäres kosmetisches Verfahren, das Ihre
                                natürliche Schönheit mit dauerhaften Ergebnissen verbessern kann. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-3.png' %}" alt="" class="rounded-circle">
                            <h3>Körperenthaarung</h3>
                            <p>Die Körperenthaarung kann schnell und effizient mit
                                minimalen Beschwerden durchgeführt werden. Dabei stehen verschiedene Methoden zur
                                Verfügung</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-4.png' %}" alt="" class="rounded-circle">
                            <h3>Fußpflege</h3>
                            <p>Pediküre ist eine großartige Möglichkeit, Ihre Füße zu verwöhnen,
                                dass sie gesund aussehen und sich so anfühlen. Mit regelmäßiger Pediküre halten Sie
                                Ihre Füße in Topform!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="services-wrap">
                            <img src="{% static 'images/service-5.png' %}" alt="" class="rounded-circle">
                            <h3>Nageldesign</h3>
                            <p>Sie wünschen längere Nägeln, ist die Modellage die beste Lösung.
                                Die vorhandene Länge ist dabei unentscheidend.
                                Eine Verlängerung ist bei jedem möglich. </p>
                        </div>
                    </div>
                </div>
                <!-- Services End -->
            </div>

            <!-- Monthly Offer Start -->
            {% include "snippets/monthly-offer.html" %}
            <!-- Monthly Offer End -->

            <!-- Features Start -->
            {#            <div class="features-wrap">#}
            {#                <div class="main-heading">#}
            {#                    Few Awesome Benefits#}
            {#                    <span><i class="fa fa-leaf"></i></span>#}
            {#                </div>#}
            {##}
            {#                <div class="container">#}
            {#                    <div class="row">#}
            {#                        <div class="col-lg-7 col-sm-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">#}
            {#                            <h3>Find Your Soul Here</h3>#}
            {#                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo#}
            {#                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd#}
            {#                                gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea#}
            {#                                rebum.</p><br>#}
            {#                        </div>#}
            {#                        <div class="col-lg-7 col-sm-6 wow fadeInRight" data-wow-duration="0" data-wow-delay="0.2s">#}
            {#                            <h3>Other Amenities</h3>#}
            {#                            <ul class="fa-ul amenities">#}
            {#                                <li><span class="fa-li"><i class="fas fa-utensils"></i></span>Lorem ipsum dolor sit amet#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-heartbeat"></i></span>Suspendisse tristique#}
            {#                                    velit vel ligula#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-beer"></i></span>Curabitur tincidunt iaculis#}
            {#                                    est posuere#}
            {#                                </li>#}
            {#                                <li><span class="fa-li"><i class="fas fa-car"></i></span>Vestibulum vitae nibh elit#}
            {#                                    phasellus sed#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#            </div>#}
            <!-- Features End -->
        </section>

        <!-- Gallery Start -->
        {% include "snippets/gallery.html" %}
        <!-- Gallery End -->

        <!-- Hot Package Start -->
        <section id="packages" class="home-pad">
            <div class="main-heading">
                Hot Selling Packages
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="owl-carousel wow fadeInUp" data-wow-duration="0" data-wow-delay="0" id="home-package">
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Stone Massage</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Luxury Facial</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Body Massage</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Pedicure</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Manicure</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="package-wrap">
                            <div class="package-price rounded-circle">
                                299<span><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <h4>Dazzling Makeup</h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a data-scroll data-speed="2000" data-easing="easeOutQuint" data-url="false" href="#contact"
                               class="btn btn-light">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hot Package Start -->

        <!-- Our Team Start -->
        <section id="team" class="home-pad">
            <div class="main-heading">
                Our Team Members
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0" data-wow-delay="0s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="images/team/team-2.jpg" alt=""/>
                                <figcaption>
                                    <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                                    <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                                    <a href="#"><span><i class="fab fa-google-plus"></i></span></a>
                                </figcaption>
                            </figure>
                            <div class="text">
                                <h3>John Morise</h3>
                                <h5>Founder</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.3" data-wow-delay="0.2s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="images/team/team-1.jpg" alt=""/>
                                <figcaption>
                                    <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                                    <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                                    <a href="#"><span><i class="fab fa-google-plus"></i></span></a>
                                </figcaption>
                            </figure>
                            <div class="text">
                                <h3>Kevin Mash</h3>
                                <h5>Developer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.6" data-wow-delay="0.4s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="images/team/team-4.jpg" alt=""/>
                                <figcaption>
                                    <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                                    <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                                    <a href="#"><span><i class="fab fa-google-plus"></i></span></a>
                                </figcaption>
                            </figure>
                            <div class="text">
                                <h3>Mike Douglos</h3>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow flipInX" data-wow-duration="0.9" data-wow-delay="0.6s">
                        <div class="team-wrap">
                            <figure class="snip1210">
                                <img src="images/team/team-3.jpg" alt=""/>
                                <figcaption>
                                    <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                                    <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                                    <a href="#"><span><i class="fab fa-google-plus"></i></span></a>
                                </figcaption>
                            </figure>
                            <div class="text">
                                <h3>Kelly Doe</h3>
                                <h5>Support</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Team End -->

        <!-- Our Client Start -->
        <section id="clients" class="home-pad">
            <div class="main-heading">
                Client's Testimonials
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-sm-12 wow fadeInDown" data-wow-duration="0"
                         data-wow-delay="0.1s">
                        <div class="owl-carousel" id="home-testimonial">
                            <div class="item">
                                <div class="testimonial-wrap">
                                    <img src="images/team/testimonial-1.jpg" class="rounded-circle" alt="">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                        Consonantia, there live the blind texts. Aliquam gravida, urna quis ornare
                                        imperdiet, urna lacus egestas massa. </p>
                                    <h3>- John Gerry <span>Design Hunt</span></h3>

                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-wrap">
                                    <img src="images/team/testimonial-2.jpg" class="rounded-circle" alt="">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                        Consonantia, there live the blind texts. Aliquam gravida, urna quis ornare
                                        imperdiet, urna lacus egestas massa. </p>
                                    <h3>- John Gerry <span>Design Hunt</span></h3>

                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-wrap">
                                    <img src="images/team/testimonial-3.jpg" class="rounded-circle" alt="">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                        Consonantia, there live the blind texts. Aliquam gravida, urna quis ornare
                                        imperdiet, urna lacus egestas massa. </p>
                                    <h3>- John Gerry <span>Design Hunt</span></h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="owl-carousel wow bounceInUp" data-wow-duration="0" data-wow-delay="0.2s"
                         id="home-clients">
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client1.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client2.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client3.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client4.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client5.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client6.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client1.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-wrap">
                                <img src="images/clients/client2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "snippets/pricelist.html" %}
        </section>
        <!-- Our Client End -->

        <!-- Recent Blog Start -->
        <section id="blog" class="home-pad">
            <div class="main-heading">
                Recent Blog
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-wrap-img rounded-circle">
                                <img src="images/blog/blog-1.jpg" class="" alt="">
                            </div>
                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i
                                    class="fas fa-tag"></i> Design</a> <span>/</span>
                                <a href="#"><i class="far fa-comment"></i> 2</a></div>
                            <h4><a href="blog-single.html">Our Spa</a></h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-wrap-img rounded-circle">
                                <img src="images/blog/blog-2.jpg" class="" alt="">
                            </div>
                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i
                                    class="fas fa-tag"></i> Design</a> <span>/</span>
                                <a href="#"><i class="far fa-comment"></i> 2</a></div>
                            <h4><a href="blog-single.html">At Beach After Spa</a></h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-wrap-img rounded-circle">
                                <img src="images/blog/blog-3.jpg" class="" alt="">
                            </div>
                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i
                                    class="fas fa-tag"></i> Design</a> <span>/</span>
                                <a href="#"><i class="far fa-comment"></i> 2</a></div>
                            <h4><a href="blog-single.html">Additional Services</a></h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-wrap-img rounded-circle">
                                <img src="images/blog/blog-4.jpg" class="" alt="">
                            </div>
                            <div class="meta-text"><i class="far fa-clock"></i> 04.10.2013 <span>/</span> <a href="#"><i
                                    class="fas fa-tag"></i> Design</a> <span>/</span>
                                <a href="#"><i class="far fa-comment"></i> 2</a></div>
                            <h4><a href="blog-single.html">Certified Products</a></h4>
                            <p>Nulla nec faucibus est. In in augue placerat, ligula quis, elementum augue.</p>
                            <a href="blog-single.html" class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- Recent Blog End -->

        <!-- Contact Start -->
        <section id="contact" class="home-pad">
            <div class="main-heading">
                Contact Us
                <span><i class="fa fa-leaf"></i></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="1" data-wow-delay="0">
                        <div class="contact-wrap">
                            <div class="contact-icon rounded-circle">
                                <i class="fa fa-map-signs"></i>
                            </div>
                            <h3>Our Location</h3>
                            <div>Envato Pty Ltd, 13/2 Elizabeth St <br>Melbourne VIC 3000, Australia</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="1" data-wow-delay="0.2s">
                        <div class="contact-wrap">
                            <div class="contact-icon rounded-circle">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h3>Phone Number</h3>
                            <div>Phone: +88 (0) 101 0000 000 <br>Fax: +88 (0) 202 0000 001</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="1" data-wow-delay="0.4s">
                        <div class="contact-wrap">
                            <div class="contact-icon rounded-circle">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <h3>Email</h3>
                            <div><a href="#">info@wll&amp;spa.com</a><br> <a href="#">support@wll&amp;spa.com</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="1" data-wow-delay="0.6s">
                        <div class="contact-wrap">
                            <div class="contact-icon rounded-circle">
                                <i class="far fa-clock"></i>
                            </div>
                            <h3>Business Hours</h3>
                            <div>9 am to 6 pm on Weekdays <br>7 am to 9 pm on Weekends</div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <section class="hs-recent-posts">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 left-content">
                                        <div class="bg-left">
                                            <div id="map-holder">
                                                <div id="map_extended">
                                                    <p>This will be replaced with the Google Map.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7 right-content">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="row hs-content">
                                                <div class="col-sm-12 smart-mar">
                                                    <div>
                                                        <div id="sucessmessage"></div>
                                                    </div>
                                                </div>
                                                <form action="#" method="post" id="contact_form" novalidate="novalidate"
                                                      class="col-md-12">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <input type="text" name="name" id="name"
                                                                   class="form-control" placeholder="First Name">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" name="lastname" id="lastname"
                                                                   class="form-control" placeholder="Last Name">
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col">
                                                            <input type="text" name="email" id="email"
                                                                   class="form-control" placeholder="Email">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" name="subject" id="subject"
                                                                   class="form-control" placeholder="Subject">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <textarea name="comment" id="comment" class="form-control"
                                                                      rows="8" placeholder="Message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <button type="submit" class="form-btn">Contact Us</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .row -->
                            </div>
                            <!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact End -->


    </div>
    <!-- Main Bodycontent End -->

    {% include "snippets/copyright.html" %}

    <!--  Back To Top  -->
    <div id="back-top">
        <a class="rounded-circle" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!--  End  -->
{% endblock content %}